{% set collection = page.collection() %}
{% set approach = collection|first %}
{% set history = collection|last %}

<div class="modular-row features {{ page.header.class }}">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <h2>{{ approach.title }}</h2>
                <div>{{ approach.content }}</div>
            </div>
            <div class="col-md-3 col-sm-6">
                {% set image = page.media.images|first %}
                {% if image %}
                    {{ image.cropResize(400,400).html('','','align-'~page.header.image_align) }}
                {% endif %}
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>{{ history.title }}</h2>
                <div>{{ history.content }}</div>
            </div>

        </div>
    </div>
</div>
