{% set collection = page.collection() %}

<div class="modular-row features {{ page.header.class }}">
    <div class="container">
        <div class="row masonry-grid-credentials">
            <div class="col-md-3 masonry-stamp">
                <h2>{{ page.title }}</h2>
                <div>
                    <div class="filter-button-group btn-group-vertical">
                        <button data-filter="*"
                                type="button" class="btn btn-secondary active">
                            Tout voir
                        </button>
                        {% for cat in page.header.categories %}
                        <button data-filter=".{{ cat|camelize }}"
                                type="button" class="btn btn-secondary">
                            {{ cat }}
                        </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% for child in collection %}
                {% set displayCategories = "" %}
                {% set classCategories = "" %}
                {% if child.header.categories %}
                    {% for cat in child.header.categories %}
                        {% set displayCategories = displayCategories ~ cat %}
                        {% set classCategories = classCategories ~ (cat|camelize) %}
                        {% if not loop.last %}
                            {% set displayCategories = displayCategories ~ ', ' %}
                            {% set classCategories = classCategories ~ ' ' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="col-md-3 masonry-grid-item {{ classCategories }}">
                    <div id="content-{{ child.header.listcode }}">
                        <h3>{{ child.header.title }}</h3>
                        {% if child.header.categories %}
                            <p>
                                {{ displayCategories }}
                            </p>
                        {% endif %}
                        {% if child.media['small.png'] %}
                            {{ child.media['small.png'].html(child.header.title, child.header.title, 'masonry-small') }}
                        {% endif %}
                        {% if child.media['big.png'] %}
                            {{ child.media['big.png'].html(child.header.title, child.header.title, 'masonry-big') }}
                        {% endif %}
                        <div class="masonry-big">
                            {{ child.content }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
