{% set collection = page.collection() %}

<div class="modular-row features {{ page.header.class }}">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <h2>{{ page.title }}</h2>
            </div>
            <div class="col-md-8 light-push">
                {% for target in collection %}
                    {% if target.title %}
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{ target.title }}</h3>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row row-eq-height">
                        {% if target.content %}
                            <div class="col-xs-10">
                                {{ target.content }}
                            </div>
                        {% endif %}
                        {% set icon = target.header.icon %}
                        {% if icon %}
                            <div class="col-xs-2 icon-container">
                                <i class="fa fa-{{ icon }}"></i>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {{ content }}
            </div>
        </div>
    </div>
</div>
